@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Plus+Jakarta+Sans:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* Sidebar */
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Progress Icon */
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    margin: auto;
}

/* Progress Line */
.line {
    flex: 1;
    height: 5px;
    background: lightgray;
}

.line.completed {
    background: #007bff;
}
